NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173
DESKTOP_URL=http://localhost:5000

BETTER_AUTH_SECRET=some-very-long-secret-key-as-it-should-be-at-least-32-characters

LOG_CLEANUP_ENABLED=true
LOG_CLEANUP_DAYS_TO_KEEP=30
LOG_CLEANUP_SCHEDULE=@daily

DB_SEED_ENABLED=true
DB_SEED_FORCE_RESEED=false

DB_SEED_USERS_ENABLED=true

DB_SEED_ADMIN_EMAIL=admin@example.com
DB_SEED_ADMIN_PASSWORD=admin-password
DB_SEED_ADMIN_NAME=Admin

DB_SEED_USER_EMAIL=user@example.com
DB_SEED_USER_PASSWORD=user-password
DB_SEED_USER_NAME=User

ATHLETE_SYNC_ENABLED=true
ATHLETE_SYNC_USE_MOCK=true

STRIPE_SECRET_KEY=sk_your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=whsec_your-stripe-webhook-secret

GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret

EMAIL_USER=your.email@gmail.com
EMAIL_PASS=your-email-password
